<form method="post" action="{{ path('app_admin_testimony_delete', {'id': testimony.id}) }}" onsubmit="return confirm('Quer mesmo apagar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testimony.id) }}">
    <button class="btn btn-outline-danger ">Apagar</button>
</form>