{% extends 'base.html.twig' %}

{% block title %}Novo Depoimento{% endblock %}

{% block body %}
    <h1>Novo Depoimento</h1>

    {{ include('admin/testimony/_form.html.twig') }}

    <a href="{{ path('app_admin_testimony_index') }}"class="btn btn-outline-secondary me-2 float-start">Voltar</a>
{% endblock %}