<form method="post" action="{{ path('app_admin_banner_delete', {'id': banner.id}) }}" onsubmit="return confirm('Tem certeza que quer apagar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banner.id) }}">
    <button class="btn btn-outline-danger ">Apagar</button>
</form>
