{% extends 'base.html.twig' %}

{% block title %}Editar Quem somos{% endblock %}

{% block body %}
    <h1>Editar Quem somos</h1>

    {{ include('admin/who_we_are_page/_form.html.twig', {'button_label': 'Salvar'}) }}

    <a href="{{ path('app_admin_who_we_are_page_index') }}" class="btn btn-outline-secondary me-2 float-start">Voltar</a>

{% endblock %}
