{% extends 'base-public.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ "Symfony is great"|trans }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/lucasfreire/www/projects/web-admin/src/Controller/Public/HomeController.php</code></li>
        <li>Your template at <code>/home/lucasfreire/www/projects/web-admin/templates/public/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
