<form method="post" action="{{ path('app_admin_time_line_delete', {'id': time_line.id}) }}" nsubmit="return confirm('Tem certeza que quer apagar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_line.id) }}">
    <button class="btn btn-outline-danger ">Apagar</button>
</form>
