{% extends 'base.html.twig' %}

{% block title %}New TimeLine{% endblock %}

{% block body %}
    <h1>Criar nova linha do tempo</h1>

    {{ include('admin/time_line/_form.html.twig') }}

    <a href="{{ path('app_admin_time_line_index') }}"class="btn btn-outline-secondary me-2 float-start">Voltar</a>
{% endblock %}
