{% extends 'base.html.twig' %}

{% block title %}ProductImage{% endblock %}

{% block body %}
    <h1>ProductImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_image.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_image_index') }}">back to list</a>

    <a href="{{ path('app_admin_product_image_edit', {'id': product_image.id}) }}">edit</a>

    {{ include('admin/product_image/_delete_form.html.twig') }}
{% endblock %}
