{% extends 'base.html.twig' %}

{% block title %}Nova categoria de produto{% endblock %}

{% block body %}
    <h1>Crriar nova categoria de produto</h1>

    {{ include('admin/product_category/_form.html.twig') }}

    <a href="{{ path('app_admin_product_category_index') }}" class="btn btn-outline-secondary me-2 float-start">Voltar</a>
{% endblock %}
