{% extends 'base.html.twig' %}

{% block title %}ProductProperty index
{% endblock %}

{% block body %}

    <div class="row text-end">
        <div class="col">
        	<a href="{{ path('app_admin_product_property_new') }}" class="mb-2 btn btn-outline-secondary">Criar novo</a>
        </div>
    </div>

	<div class="card">
		<div class="card-header">
			<h5>Propriedades dos Produtos</h5>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Título</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for product_property in product_properties %}
						<tr>
							<td>{{ product_property.title }}</td>
							<td>
								<a href="{{ path('app_admin_product_property_edit', {'id': product_property.id}) }}" class="btn btn-outline-secondary float-end">Editar</a>
								<a href="{{ path('app_admin_product_property_show', {'id': product_property.id}) }}" class="btn btn-outline-info float-end me-2">Vizualizar</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Nenhum registro encontrado.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
