{% extends 'base.html.twig' %}

{% block title %}New ProductProperty{% endblock %}

{% block body %}
    <h1>Create new ProductProperty</h1>

    {{ include('admin/product_property/_form.html.twig') }}

    <a href="{{ path('app_admin_product_property_index') }}">back to list</a>
{% endblock %}
