{% extends 'base.html.twig' %}

{% block title %}Novo Produto{% endblock %}

{% block body %}
    <h1>Criar novos Produto</h1>

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('app_admin_product_index') }}" class="btn btn-outline-secondary me-2 float-start">Voltar</a>
{% endblock %}
