<form method="post" action="{{ path('app_admin_product_manual_delete', {'id': product_manual.id, 'productId':product.id}) }}" onsubmit="return confirm('Tem certeza que quer apagar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_manual.id) }}">
     <button class="btn btn-outline-danger ">Apagar</button>
</form>
